

.container p {
    font-size: 3rem;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
}

.container p span.typed-text {
    font-weight: normal;
    color: #dd7732;
}

#About-me {
    scroll-margin-top: 100px; /* You can adjust this value as needed */
}

.container p span.cursor {
    display: inline-block;
    background-color: #ccc;
    animation: blink 1s infinite;
}

.container p span.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {
        background-color: #ccc;
    }
    49% {
        background-color: #ccc;
    }
    50% {
        background-color: transparent;
    }
    99% {
        background-color: transparent;
    }
    100% {
        background-color: #ccc;
    }
}
/* For WebKit browsers like Chrome and Safari */
::-webkit-scrollbar {
    width: 0.5px; /* You can adjust the width as needed */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5); /* Adjust transparency here */
    border-radius: 4px; /* Adjust the border radius as needed */
  }
  
  /* For Firefox */
  ::-moz-scrollbar {
    width: 8px; /* You can adjust the width as needed */
  }
  
  ::-moz-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5); /* Adjust transparency here */
    border-radius: 4px; /* Adjust the border radius as needed */
  }
  
